<%= form_for(:session, url: sessions_path) do |f| %>
<div class="container">
	<div class="row top-buffer">
  		<div class="col-md-1">
  			<div id="toggle">
  				<button type="button" class="btn btn-link btn-xs">ad</button>
  			</div>
  		</div>
  		<div class="col-md-2"></div>
  		<div class="col-md-4">
			<div class="form-group">
				<div id='admin' style="display:none">
					<div class="col-md-2 paddingtop8">
						<%= f.label :email, 'email', class: "control-label-mod" %>
					</div>
					<div class="col-md-10">
						<%= f.text_field :email, class: "form-control", value: "asistent@ramus.je" %>
					</div>
				</div>
			</div>
  		</div>
  		<div class="col-md-5"></div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-3"></div>
		<div class="col-md-4">
			<div class="form-group">	
				<div class="col-md-2 paddingtop8">
				<%= f.label :password, 'heslo', class: "control-label-mod" %>
				</div>
				<div class="col-md-10">
				<%= f.password_field :password, class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="form-group">
				<%= f.submit "vstup!", class: "btn btn-large btn-prihlas" %>
			</div>			
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-2"></div>
		<div class="col-md-2"></div>
		<div class="col-md-2"></div>
		<div class="col-md-2"></div>
		<div class="col-md-2"></div>
		<div class="col-md-2"></div>
	</div>
</div>
<% end %>	